<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
    </head>
    <body style="background-color: rgb(140, 154, 168);">
        <h2> <%= header %> </h2>
        <p>You can search too! Just add to search query using /?search=term</p>
        <% for (let i=0; i<content.length; i++) { %>
            <li> <%= content[i] %> </li>
        <% } %>
        <a href="/new">
            <button> Add new user </button>
        </a>
    </body>
</html>